### Python ###
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### VS Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### WPILib ###
networktables.ini
imgui.ini
simgui*.json
*.wpilog

### Project-specific ###
gitid
