---
name: reviewdog
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  mypy:
    name: runner / mypy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test.txt
      - uses: tsuyoshicho/action-mypy@v3
        with:
          reporter: github-check
